<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4" th:text="${producto.titulo}">Título</h2>

    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text">Cantidad: <span th:text="${producto.cantidad}"></span></p>
            <p class="card-text">Precio: <span th:text="${producto.precio}"></span></p>
        </div>
    </div>

    <a th:href="@{/productos}" class="btn btn-primary">Volver al listado</a>
</div>

<!-- Enlaza Bootstrap JS y jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
